# General
TOKEN = str:
PREFIX = str:+
GUILD_ID = int:
LOAD_COGS_ON_START = str:True

# Bot Releated
BOT_COMMAND_CHANNEL_ID = int:
BOT_OUT_CHANNEL_ID = int:
BOT_LOG_CHANNEL_ID = int:

# Releated To Tickets
SUPPRT_ROLE_ID = int:
TICKET_LOG_CHANNEL_ID = int:
OPENED_TICKET_CATEGORY_ID = int:
CLOSED_TICKET_CATEGORY_ID = int:

# Releated To Welcome
WELCOME_CHANNEL_ID = int:
USER_DEFAULT_ROLE_ID = int:
GENERAL_CHANNEL_ID = int:
RULES_CHANNEL_UD = int:

# Status Releated 
RUST_SERVERS_NET_API = str:

# Related To Giveaway
MAIN_SERVER_CATEGORY_ID = int:
